*{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    height: 400px;
}

div{
    height: 400px;
}

.fondoColor{
    background-color: #0f6666;
}

.fondoOpacidad{
    background-color: #5d0c0c;
    opacity: 0.6;
}

.fondoImagen{
    background-image: url("../images/fondo1.jpg");
}

.fondoRepetidoX{
    background-image: url("../images/fondo2.jpg");
    background-repeat: repeat-x;
}

.fondoRepetidoY{
    background-image: url("../images/fondo1.jpg");
    background-repeat: repeat-y;
}

.fondoNoRepetido{
    background-image: url("../images/fondo2.jpg");
    background-repeat: no-repeat;
}

.fondoPosicion{
    background-image: url("../images/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.fondoCompleto{
    background-image: url("../images/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
